<footer id="ft">

       <div id="ftln"></div>
       <div id="ftc" >
         <div id="ftc1" >
           <h1>Tutoriales</h1>
           <ul>
             <li><a href="/es/tutorials/how-to-begin.html"><span>¿Cómo empezar?</span></a>
             <li><a href="/es/tutorials/tags-attributes.html"><span>Etiquetas y atributos <abbr title="Lenguaje de marcas de hypertexto">HTML</abbr></span></a>
             <li><a href="/es/tutorials/document-structure.html"><span>La estructura del documento</span></a>
             <li><a href="/es/tutorials/content-grouping-and-structure.html"><span>Estructura del contenido</span></a>
           </ul>
         </div>
         <div id="ftc2">
           <h1>Referencia</h1>
           <ul>
             <li><a href="/es/reference/tags.html"><span>Elementos de <abbr title="Lenguaje de marcas de hypertexto">HTML</abbr></span></a>
             <li><a href="/es/reference/character-encoding.html"><span>Codificación de caracteres</span></a>
             <li><a href="/es/reference/character-entity-reference.html"><span>Referencia de caracteres</span></a>
             <li><a href="/es/reference/events.html"><span>Eventos globales</span></a>
           </ul>
         </div>
         <div id="ftc3">
           <h1>Más</h1>
           <ul>
             <li><a href="/es/contactus.php"><span>Contáctame</span></a>
             <li><a href="/es/beyond-html.html"><span>Más allá de <abbr title="Lenguaje de marcas de hypertexto">HTML</abbr></span></a>
             <li><a href="/es/tools-resources.html"><span>Herramientas y recursos</span></a>
             <li><a href="/es/webmaster.html"><span>Acerca de mí</span></a>
           </ul>
           </ul>
         </div>
       </div>
     </footer>
  </body>



</html>
