<div class="my-6" id="slider">
 <figure>
    <img src="{{ '/assets/images/slide1.jpg' | relative_url }}" alt="Galería, imagen 1">
    <img src="{{ '/assets/images/slide2.jpg' | relative_url }}" alt="Galería, imagen 2">
    <img src="{{ '/assets/images/slide3.jpg' | relative_url }}" alt="Galería, imagen 3">
    <img src="{{ '/assets/images/slide4.jpg' | relative_url }}" alt="Galería, imagen 4">
    <img src="{{ '/assets/images/slide1.jpg' | relative_url }}" alt="Galería, imagen 1">
  </figure>
</div>
