<header class="sticky" style="border-bottom: solid #3b5998 5px; margin-bottom: 5px;">
    <div class="wrap" id="encabezado" style="background-color: #fff">
        <img src="/Imagenes/logo.png" src="https://scontent.flsc3-1.fna.fbcdn.net/v/t1.0-9/94135775_2521018384814958_3885362076071231488_n.jpg?_nc_cat=108&_nc_sid=e007fa&_nc_ohc=hWA-hDpxsHUAX_1l2kI&_nc_ht=scontent.flsc3-1.fna&oh=8a844a38a0ada1ea459ca1f4f3031327&oe=5EC384B5" alt="Logotipo" style="width:260px; height:60px; margin-left:10px">
    </div>
</header>
