<header class="site-header" style="background-color: coral; border: solid black 5px;">

  <div class="wrap" style="background-color: coral;">
    <div class="title-area" style= "margin: 10px 50px 0px 0px;">
        <img  src="/Imagenes/Emilio.png" >
    </div>


    <nav class="nav-primary" id="genesis-nav-primary" aria-label="Main navigation" style="background-color: coral;  border: solid pink 3px;" >

      <ul id="menu-top-menu" class="genesis-nav-menu" style="background-color: coral;">

        <li id="menu-item-1" class="left menu-item"><a href="https://www.google.com"><span>1</span></a></li>
        <li id="menu-item-2" class="left menu-item"><a href="https://www.google.com"><span>2</span></a></li>
        <li id="menu-item-3" class="left menu-item"><a href="https://www.google.com"><span>3</span></a></li>
        <li id="menu-item-4" class="left menu-item"><a href="https://www.google.com"><span>4</span></a></li>
        <li id="menu-item-5" class="left menu-item"><a href="https://www.google.com"><span>5</span></a></li>
        <li id="Artificio" class="left  menu-item"></li><!Con este codigo hago que linea en borde inferior llegue al ultimo boton.>

      </ul>

      </nav>

      <h6 style="font-family: Lucida Console, Courier, monospace; letter-spacing: 0.02em">ING. EMILIO SANCHEZ</h6>

    </div>

  </header>
