---
---
@import url('https://unpkg.com/primer/build/build.css');
@import 'highlight-syntax';

/***************************************************************************************
 ______   ________  __    __  ________  _______    ______   __        ________   ______
/      \ /        |/  \  /  |/        |/       \  /      \ /  |      /        | /      \
/$$$$$$  |$$$$$$$$/ $$  \ $$ |$$$$$$$$/ $$$$$$$  |/$$$$$$  |$$ |      $$$$$$$$/ /$$$$$$  |
$$ | _$$/ $$ |__    $$$  \$$ |$$ |__    $$ |__$$ |$$ |__$$ |$$ |      $$ |__    $$ \__$$/
$$ |/    |$$    |   $$$$  $$ |$$    |   $$    $$< $$    $$ |$$ |      $$    |   $$      \
$$ |$$$$ |$$$$$/    $$ $$ $$ |$$$$$/    $$$$$$$  |$$$$$$$$ |$$ |      $$$$$/     $$$$$$  |
$$ \__$$ |$$ |_____ $$ |$$$$ |$$ |_____ $$ |  $$ |$$ |  $$ |$$ |_____ $$ |_____ /  \__$$ |
$$    $$/ $$       |$$ | $$$ |$$       |$$ |  $$ |$$ |  $$ |$$       |$$       |$$    $$/
$$$$$$/  $$$$$$$$/ $$/   $$/ $$$$$$$$/ $$/   $$/ $$/   $$/ $$$$$$$$/ $$$$$$$$/  $$$$$$/
****************************************************************************************/
/*
* {
  box-sizing: border-box;
}
*/

.wrap:before {
	content: " ";
	display: table;
}

.wrap:after {
	clear: both;
	content: " ";
	display: table;
}

//Cuando el navegador es 600px o menos
@media only screen and (max-width: 500px) {

}

.wrap{
	margin: 0 auto;
	padding: 0;
	max-width: 1280px;
  //border: 10px solid yellow;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
	z-index:20;
}

/********************************************************************
 ______    ______   __        ________  _______   ______   ______
/      \  /      \ /  |      /        |/       \ /      | /      \
/$$$$$$  |/$$$$$$  |$$ |      $$$$$$$$/ $$$$$$$  |$$$$$$/ /$$$$$$  |
$$ | _$$/ $$ |__$$ |$$ |      $$ |__    $$ |__$$ |  $$ |  $$ |__$$ |
$$ |/    |$$    $$ |$$ |      $$    |   $$    $$<   $$ |  $$    $$ |
$$ |$$$$ |$$$$$$$$ |$$ |      $$$$$/    $$$$$$$  |  $$ |  $$$$$$$$ |
$$ \__$$ |$$ |  $$ |$$ |_____ $$ |_____ $$ |  $$ | _$$ |_ $$ |  $$ |
$$    $$/ $$ |  $$ |$$       |$$       |$$ |  $$ |/ $$   |$$ |  $$ |
$$$$$$/  $$/   $$/ $$$$$$$$/ $$$$$$$$/ $$/   $$/ $$$$$$/ $$/   $$/
*********************************************************************/

#slider {
	overflow: hidden;
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}

#slider figure img {
	width:  20%;
	height: 100%;
	float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}

/**********************************************************
 ________  ______    ______   ________  ________  _______
/        |/      \  /      \ /        |/        |/       \
$$$$$$$$//$$$$$$  |/$$$$$$  |$$$$$$$$/ $$$$$$$$/ $$$$$$$  |
$$ |__   $$ |  $$ |$$ |  $$ |   $$ |   $$ |__    $$ |__$$ |
$$    |  $$ |  $$ |$$ |  $$ |   $$ |   $$    |   $$    $$<
$$$$$/   $$ |  $$ |$$ |  $$ |   $$ |   $$$$$/    $$$$$$$  |
$$ |     $$ \__$$ |$$ \__$$ |   $$ |   $$ |_____ $$ |  $$ |
$$ |     $$    $$/ $$    $$/    $$ |   $$       |$$ |  $$ |
$$/       $$$$$$/   $$$$$$/     $$/    $$$$$$$$/ $$/   $$/
***********************************************************/

#ft {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    line-height: 1.6em;
    background: linear-gradient(to bottom, #485054 0, #333738 100%);
}

#ftln {
    position: relative;
    top: 2em;
    height: 2em;
    background: rgba(255, 255, 255, 0.05)
}

#ft h1,
#ft h2 {
    text-align: left;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    letter-spacing: .02em;
    color: #daeaf2;
    line-height: 1.2em;
    margin: .5em 0;
}

#ft ul {
    list-style-type: none
}

#ft a:hover {
    color: yellow;
    text-decoration: none
}

#ft abbr {
    border-bottom: 1px dotted #78868c
}

#ftc{
   margin: 0 auto;
	 max-width: 1280px;
   overflow: auto;
	//border: 1px solid yellow;
	//height: 300px;
	 margin-top: 3em;
	 padding-bottom:3em;
	 box-sizing: border-box;
}


#ftc1 {
	float: left;
	padding-right:  0.5%;
	padding-left: 8%;
	width:  33.33%;
	box-sizing: border-box;
    //border: 1px solid yellow;
	overflow: auto;

}

#ftc2 {
    float: left;
	padding-right:  5%;
	padding-left: 9%;
	width:  33.33%;
	box-sizing: border-box;
	//border: 1px solid yellow;
	overflow: auto;
}

#ftc3 {
  float: left;
	padding-right:  0.5%;
	padding-left: 14%;
	width:  33.33%;
	box-sizing: border-box;
	// border: 1px solid yellow;
	overflow: auto;
}
